<title>CENO Browser | About</title>
    <div class="container-md section" id="howitworks">

	    <h1>How CENO Browser Works</h1>
<section>
    <div class="container py-3 px-2">
          <div class="row">
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
              <div class="card">
                <div class="card-body">
      	        <img class="mx-auto" src="../img/how-ceno-works-0.png" style="text-align:center" width="70%">
		<h4 class="pt-3 card-title">Most web traffic in countries that filter internet is routed through centralized exchanges, such as Google.</h4>
	       </div>
 	    </div>  
	   </div>
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
              <div class="card">
                <div class="card-body">
               <img src="../img/how-ceno-works-1.png" style="text-align:center" width="70%">
		<h4 class="pt-3 card-title">This design gives the censor an advantage in locating and blocking popular proxies, VPN servers, relays, etc;</h4>
              </div>
             </div>
           </div>
          <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
             <div class="card">
              <div class="card-body">
               <img src="../img/how-ceno-works-2.png" style="text-align:center" width="70%">
		<h4 class="pt-3 card-title">In these cases, reaching origin web servers is difficult or impossible, and your device will not be able to get that content.</h4>
	      </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
             <div class="card">
              <div class="card-body">
               <img src="../img/how-ceno-works-3.png" style="text-align:center" width="70%">
		<h4 class="pt-3 card-title">CENO is a mobile web browser for storing and sharing web content anywhere.</h4>
              </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
             <div class="card">
              <div class="card-body">
               <img src="../img/how-ceno-works-4.png" style="text-align:center" width="70%">
		<h4 class="pt-3 card-title">CENO users create small-world networks to connect to each other, and thereafter to a bridge outside the censored zone.</h4>
              </div>
             </div>
           </div>
          <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
             <div class="card">
              <div class="card-body">
               <img src="../img/how-ceno-works-5.png" style="text-align:center" width="70%">
		<h4 class="pt-3 card-title">Once a website is accessed by a single CENO user, it is stored and shared inside the country peer-to-peer.</h4>
	     </div>
           </div>
	</div>
      </div>
    </div>
  </section>

<div class="d-grid gap-2 justify-content-center">
<!-- TRANSLATORS: Replace "en" in the link by your language code if the Manual is available for it. -->
<a href="../user-manual/en/" style="text-align:center"><button class="btn btn-outline-danger btn-learnmore mt-3 mb-3" type="button" style="text-align: center;"><span class="fas fa-book"></span>  Learn more in the User Manual!</button></a>
<a href="https://github.com/equalitie/ouinet/blob/master/doc/ouinet-network-whitepaper.md"><button class="btn btn-outline-danger btn-learnmore" type="button"><span class="fas fa-scroll"></span>  For a more in-depth, technical guide, see the Ouinet whitepaper.</button></a>
</div>
    </div> <!-- end container-md section -->
