<title>CENO Browser | Case Studies</title>
<div class="container-md section">
    <h1>Case Studies</h1>
	<p>Sharing the stories of CENO users from around the world.</p>

<section>

   <div class="container py-3 px-2">
          <div class="row">
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
             <div class="card">
                <a href="ir-highlights.html" target="_blank"><div class="card">
                <div class="card-body">
                <img class="mx-auto" src="../img/ceno-usage-map.png" style="text-align:center">
                <h4 class="pt-3 card-title">Highlights from the Ground in Iran</h4>
                <div class="d-grid gap-2 justify-content-center">
                <p class="card-text">December 15, 2022</p>
                </div>
              </div>
           </div>
        </a></div>
    </div>
  </div>
 </div>
</section>
</div> <!--end container section-->
