<title>CENO Browser | CENO proves itself in Iran during Internet shutdowns</title>
<div class="container-md section">

    <div style="text-align:center"><img src="../img/ceno-usage-map.png" style="height:300px">
    <h2>CENO proves itself in Iran during Internet shutdowns</h2>
	<h3>Decentralized mobile web browser enables people to access and share information regardless of censorship</h3>
    </div>
	<p><strong>Montreal, December 15, 2022</strong> – 
eQualitie is pleased to announce that its CENO Browser is fulfilling its mission of assisting thousands in Iran, while also advancing its usefulness in the Russia-Ukraine war. Short for <strong>ce</strong>nsorship.<strong>no</strong>, 
CENO allows individual mobile users to access and share global web content in spite of Internet censorship tactics and in areas of limited connectivity. In 2022 to date, CENO has helped tens of thousands in Iran, even while their Internet connections have been thwarted.</p>
	<p>Internet shutdowns are becoming more common in undemocratic countries, intensifying the need for decentralized services and tools such as CENO. In Iran, since protests started to surge in mid-September, the regime has been particularly aggressive in suppressing communication outside of its intranet infrastructure, the National Information Network. Among other things, the authorities have been blocking websites and social platforms; disabling mobile data; encrypting DNS services; and collapsing networks.</p>
	<p><img src="../img/ceno-geo-spread.png" style="height:400px; float:left; margin:5px; padding-right:5px">CENO has persisted around these ploys, using its robust peer-to-peer backbone, Ouinet, to sidestep every blockage, filter, shutdown and attack. The CENO team is able to extrapolate from its decentralized network that thousands in Iran are now actively using the browser to bypass the national intranet. CENO’s usage also continues to grow in other censored countries, such as Russia, Afghanistan, Ukraine, Pakistan, India, Yemen, Bangladesh and Myanmar. Each install expands the network by creating bridges between devices and enabling users to share blocked, filtered and censored web content.</p>
	<p>“It is gratifying to watch CENO in action when it matters,” said Dmitri Vitaliev, founder and director of eQualitie. “Where the people of Iran could not access information freely, they can now rely on CENO to help them navigate their situation and freely access information that is otherwise censored on the Iranian network.”</p>
	<p>"Impressive platform,” states a Google Play Store reviewer. “You can't imagine how useful and brilliant it is if you don't live in countries like Iran.”</p>
	<p>CENO works on Android devices, and version 2.0 s set to be released in the coming week on Google Play, <a href="https://censorship.no/download">censorship.no</a> and Paskoocheh (Farsi for Alley Way). Its open-source code is available on Gitlab. CENO is one of several digital democratization projects envisioned and developed by eQualitie, which partners with organizations such as the Toronto-based technology group ASL19 to offer practical responses to online access and information challenges. For more information, <a href="factsheet.html">access the CENO fact sheet</a>.</p>

	<h3>About eQualitie</h3>
	<div class="row">
	<div class="col-lg-2"><img src="../img/eq_logo_small_transparent.png" style="width:80%"></div>
	<div class="col-lg-10"><p>Since its foundation in 2010, eQualitie has been inspired by the principles of freedom of expression and association as defined in Articles 18, 19 and 20 of the UN’s Universal Declaration of Human Rights. Headquartered in Montreal, eQualitie’s team is distributed globally, including on the ground in censored and conflict areas. eQualitie is funded by public grants, private foundations and revenue generated from commercial activities. For more information, visit <a href="https://equalit.ie">https://equalit.ie.</a></p></div>
	</div>

	<h3>Press Contact</h3>
	<p>For press and media inquiries, please contact Jenny Ryan: press [at] equalitie [dot] org.</p> 

	<p><a href="../img/ceno-in-iran.pdf"><img src="../img/downloadpdf.jpg" style="width:50px"></a> Download PDF</p>

</div> <!--end container section-->
