<title>CENO Browser | Donate</title>
<div class="container-md section">
    	<h1>Donate to Ceno Browser</h1>
		<p>Ceno Browser is completely free and open source software funded solely through grants and donations. Below are some of the ways you can support its continued development through financial contributions. For other ways of getting involved and contributing, please visit <a href="help.html">the Community page</a>!</p>

<section>
    <div class="container py-3 px-2">
          <div class="row">
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
              <div class="card"><div class="card">
                <div class="card-body">
                 <i class="fas fa-solid fa-circle-dollar-to-slot fa-5x" style="color:#EA580C"></i>
                 <h4 class="pt-3 card-title">Make a Donation</h4>
	         <p class="card-text">Make a one-time donation using our Stripe payment portal.</p>
                 <div class="d-grid gap-2 justify-content-center">
                  <a href="https://donate.stripe.com/28o5n17IXaxU8IodQV" target="_blank" style="text-align:center"><button class="btn btn-outline-danger mt-3 mb-3" type="button" style="text-align: center;">Donate via Stripe</button></a>
                 </div>
                </div>
              </div>
            </div>
	   </div>
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
              <div class="card"><div class="card">
                <div class="card-body">
                <i class="fas fa-regular fa-heart fa-5x" style="color:#EA580C"></i>
                <h4 class="pt-3 card-title">Become a Sponsor</h4>
		<p class="card-text">We are currently exploring fundraising platforms and communities:</p>
                <div class="d-grid gap-2 justify-content-center">
                <a href="https://github.com/sponsors/censorship-no" style="text-align:center"><button class="btn btn-outline-danger mt-3 mb-3" type="button" style="text-align: center;">Sponsor on Github</button></a>
               </div>
               </div>
              </div>
            </div>
	    </div>
           <div class="col-lg-4 col-md-6 px-3 py-3 text-center">
              <div class="card"><div class="card">
                <div class="card-body">
                   <img src="../img/Bitcoin_QR_ceno.png" width="30%">
                   <h4 class="pt-3 card-title">Donate Bitcoin</h4>
		<p class="card-text">Our wallet address is:</p>
			<p><small><strong>bc1q2r70hf0jks43jyykpua6uqv907zegplgfacauc</strong></small></p>
            </div>
           </div>
        </div>
       </div>
      </div>
    </div>
   </section>
 </div>

