<title>CENO Browser | eQualitie to hold multi-city Internet Without Borders conference series</title>
<div class="container-md section">

    <div style="text-align:center"><img src="../img/internet-without-borders.png">
    <h2>eQualitie to hold multi-city Internet Without Borders conference series</h2>
	<h3>Forums across Europe focus on overcoming Internet censorship</h3>
    </div>
	<p><strong>Montreal, May 20, 2022</strong> - eQualitie, developer of open-source and reusable digital security systems, is pleased to announce the creation of its new conference series, <a href="https://internetborders.net/" target="_blank"><em>Internet Without Borders</em></a>. While technology, media and activist communities are fleeing Russia in droves, <em>Internet Without Borders</em> invites Russian-speaking IT and social initiative professionals to come together to explore solutions to Internet and media censorship, bans, blackouts and other forms of information suppression.</p>
	<p>The series will be of particular interest to those who work to overcome information isolation, improve cooperation among the Russian diaspora, and restore Internet freedoms, such as developers, programmers, analysts, researchers, journalists, bloggers, translators, activists, designers, artists and security professionals. The forums will allow participants to share questions and answers, learn about relevant projects, meet like-minded people and create new joint initiatives.</p>
	<p><em>Internet Without Borders’</em> topics include Internet blocking technologies and solutions; current and upcoming digital risks; communicating with individuals who trust propaganda; stopping digital isolation in Russia; cryptocurrency usage in censorship zones; and the challenges of Cheburnet and the sovereign RUnet. Internet Without Borders includes an international hackathon that tasks participants to develop prototypes of relevant technical and social projects.</p>
	<h3>When and Where</h3>
        <p><ul>
	<li>May 27–28: Tbilisi, Georgia</li>        
	<li>June 3–4: Yerevan, Armenia</li>
	<li>June 10–11: Vilnius, Lithuania</li>      
	<li>June 17–18: Berlin, Germany</li>
	<li>June 24–25: Warsaw, Poland</li></ul></p>
	<p>To register and learn more, visit the <a href="https://internetborders.net/">Internet Without Borders website</a>.</p> 
	<h3>About eQualitie</h3>
	<div class="row">
	<div class="col-lg-2"><img src="../img/eq_logo_small_transparent.png" style="width:80%"></div>
	<div class="col-lg-10"><p>Founded and led by Dmitri Vitaliev since 2010, Montreal-based eQualitie is inspired by the principles of freedom of expression and association as defined in Articles 18, 19 and 20 of the UN’s Universal Declaration of Human Rights. Headquartered in Montreal, eQualitie’s team is distributed globally, including on the ground in censored and conflict areas. eQualitie is funded by public grants, private foundations and revenue generated from commercial activities. For more information, visit <a href="https://equalit.ie">https://equalit.ie.</a> </p></div>
	</div>

	<h3>Press Contact</h3>
	<p>For press and media inquiries, please contact Dmitri Vitaliev: press [at] equalitie [dot] org.</p> 

	<p><a href="../img/equalitie-hosts-internet-without-borders.pdf"><img src="../img/downloadpdf.jpg" style="width:50px"></a> Download PDF</p>

</div> <!--end container section-->
