<title>CENO Browser | Highlights from the Ground in Iran</title>
<div class="container-md section">

    <div style="text-align:center">
    <h2>Highlights from the Ground in Iran</h2>
	<h3>December 2022</h3>
    </div>
	<h3>CENO User Experiences</h3>
	<div class="row">
	<div class="col-lg-10"><p><ul>
	<li>User experiences have varied from region to region as ISPs have applied Internet censorship and disruption measures inconsistently.</li>
	<li>Where Iran’s intranet (National Information Network or NIN) is the only connection available, CENO users can still access blocked web content.</li>
	<li>Users have been able to access blocked content on some WiFi networks and some mobile network providers.</li>
	<li>Anyone globally can help expand the CENO network by installing the app and using it to browse web content. Each use of the browser improves the speed, quality and quantity of the content. Users in less restricted regions can safely share visited web content to users in more restricted regions.</li>
	<li>On CENO, users receive the information that they have requested. Network security nodes are used to verify inbound content.</li>
	</ul></p></div>
	</div>
	<div>
	<h3>User Comments</h3>
	<p>"Impressive platform. You can't imagine how useful and brilliant it is if you don't live in countries like Iran."</p>
	<p>"This app is one of our few hopes in times of serious Internet disruptions in Iran."</p>
	<p>"Everyone should install these two apps (CENO and NewNode). With these apps, filtering/censorship will not be effective."</p>
	<p>"Internet users living outside of Iran can support the free Internet by installing CENO Browser to help in-country users access content even when international traffic is cut."</p>
	<p>"Install the CENO browser (for Android). It can be used when the global Internet is down. It is important to have many users so that the speed can increase as the network expands."</p>
	<p>"It is a good browser, especially for us Iranians, who do not have the possibility of free use of the Internet, and everything is filtered by the government, even filter breakers."</p> 
	</div><div>
	<h3>CENO in the Media</h3>
	<p>"<a href="https://www.independentpersian.com/node/270686/">Software for when the Internet is down,</a>” Independent Persian</p>
	<p>"<a href="https://www.instagram.com/tv/Ci-zKL5vDzV/?utm_source=ig_web_copy_link">What is the state of Iran's Internet?</a>” Iran Wire</p>
	<p>"<a href="https://www.tribunezamaneh.com/archives/105862">Back alley digital security and online marketplace for filters and tools,</a>” Zamaneh Tribune</p>
	</div>
</div> <!--end container section-->
