<title>CENO Browser | Privacy Policy</title>
 <section>
    <div class="container">
<h1>CENO Privacy Notice</h1>

<p>eQualit.ie is committed to protecting the privacy interests of its customers, end users, distributors and suppliers. This privacy notice is intended to provide you with general information on how your personal information may be used. eQualit.ie is a Canadian corporation with its office located in Montreal, and our privacy notice has been developed to reflect Canadian and Quebec privacy laws and statutes. For further information regarding Canadian and Quebec privacy laws, please visit: </p>
<ul>
<li><a href="https://www.priv.gc.ca/">Office of the Privacy Commissioner of Canada</a> </li>
<li><a href="https://www.cai.gouv.qc.ca/english/">Office of the Information and Privacy Commissioner of Quebec</a></li>
</ul>
<h2>Effective Date and Scope</h2>
<p>This Privacy notice is effective as of December 1, 2018. In this privacy notice (Privacy notice), the terms “we”, “our” and “us” mean eQualit.ie. This Privacy notice governs our practices with respect to Data that we collect through the CENO browser.</p>

<h2>About CENO</h2>
<p>CENO is designed to provide you with open access to online censored content.</p>

<h2>Interaction data</h2>
<p>CENO stores a summary collection of all public web pages viewed by CENO users to enable other users of the system access to those pages. While we very much attempt to honor user privacy with this mechanism, it is still in early stages of development and it is possible private web pages viewed by users might be stored this way by accident.</p>

<p>This testing version of CENO stores logs of all pages requested via the censorship-circumvention mechanisms. Logs exist even for pages deemed private, as well as the considerations made to determine this privacy classification. This log data is used by the CENO development team to track down issues with the CENO infrastructure, and is not disclosed to others.</p>

<h2>Storage of Data Outside Canada</h2>
<p>We store data outside of Canada.</p>

<h2>Data Retention Policy </h2>
<p>Web page summary collection items are retained indefinitely. Logs for testing purposes will be retained for the duration of the testing and analysis period, and will be deleted afterwards.</p>

<h2>How Can You Access and Modify Your Personal Information or Make a Complaint? </h2>
<p>Data stored in either the web page summary collection or the testing logs are not directly linked to a particular user. As a consequence, it is not possible to either access or modify information connected to a particular user. If you have questions or concerns, you can reach us at: privacy@equalit.ie </p>

<h2>Notice to Persons Outside of Canada</h2>
<p>This Privacy notice is governed by the laws of Canada and applicable provincial law. By submitting Personal Information to us, you understand that your Personal Information will be subject to the laws of Canada and applicable provincial laws.</p>

<h2>Changes to Our Privacy notice</h2>
<p>We may need to change certain aspects of the Privacy notice from time to time. We will email you and post any substantive changes to this notice on our website along with the effective date of those changes.
</p>
</div>
</section>
